USE [master]
GO
/****** Object:  Database [FinalProjectPRN]    Script Date: 12/20/2018 20:50:43 ******/
CREATE DATABASE [FinalProjectPRN] ON  PRIMARY 
( NAME = N'FinalProjectPRN', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\FinalProjectPRN.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FinalProjectPRN_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\FinalProjectPRN_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FinalProjectPRN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FinalProjectPRN]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 12/20/2018 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[iD] [nchar](10) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_subject] PRIMARY KEY CLUSTERED 
(
	[iD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Subject] ([iD], [Name]) VALUES (N'CEA201    ', N'Computer Organization and Architecture ')
INSERT [dbo].[Subject] ([iD], [Name]) VALUES (N'CSD201    ', N'Data Structures and Algorithms ')
INSERT [dbo].[Subject] ([iD], [Name]) VALUES (N'CSI101    ', N'Connecting to Computer Science ')
/****** Object:  Table [dbo].[Schedule]    Script Date: 12/20/2018 20:50:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[Subject] [nvarchar](50) NULL,
	[Class] [nvarchar](50) NULL,
	[Lich] [nvarchar](50) NULL,
	[Amount] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Schedule] ([Subject], [Class], [Lich], [Amount]) VALUES (N'CSD201', N'IA1302', N'E1', N'11')
INSERT [dbo].[Schedule] ([Subject], [Class], [Lich], [Amount]) VALUES (N'CSD201', N'SE1307', N'M3', N'30')
INSERT [dbo].[Schedule] ([Subject], [Class], [Lich], [Amount]) VALUES (N'CSD201', N'SE1308', N'M5', N'20')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
